{% load static %}

{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
<link rel="stylesheet" type="text/css" href='{% static "base.css" %}'>
<link rel="icon" href='{% static "icon.png" %}'>

<div class="container">
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top navbar-rounded shadow">
		<a href="{% url 'index' %}" class="navbar-brand">
			<img src="/static/icon.png" width="25" height="25" alt="">
			<span class="d-lg-inline-block d-none"><b>Study Buddy Finder</b></span>
			<i class="fa fa-star d-inline-block d-lg-none"></i>
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<!-- collapse class will hide everything in the navbar once on mobile display -->
			<div class="navbar-nav">
				<a class="nav-item nav-link active" href="{% url 'user_list' %}">Find a Buddy</a>
				<a class="nav-item nav-link active" href="{% url 'friends_list' '0' %}">My Study Buddies</a>
			</div>

			<div class="navbar-nav ml-auto">
				<a class="nav-item nav-link active" href="{% url 'self_profile' %}">My Account</a>
				<a class="nav-item nav-link active" href="{% url 'logout' %}">Logout</a>
			</div>

			
		</div>
	</nav>
</div>


